.pList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.pListItem {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.pListImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pListTitles > h1 {
  font-size: 18px;
  color: #444;
  text-transform: capitalize;
}

.pListTitles > h2 {
  font-size: 14px;
  font-weight: 300;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
  .pListItem {
    width: calc(50% - 10px); /* Two items per row with gap */
    margin-bottom: 20px; /* Adjust margin for better spacing */
  }
}

@media only screen and (max-width: 480px) {
  .pListItem {
    width: 100%; /* Each item takes full width on smaller screens */
  }
}
